<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>NWS</span>
        <span class="example-spacer"></span>

        <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            Login
        </button>
        <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            Créer une guilde
        </button>
        <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            Mes Guildes
        </button>
        <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            Guildes
        </button>

    </mat-toolbar>
</p>